aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid var(--light-1);
    padding: 33px;
    border-top: none;
    position: sticky;
    top: 120px;
    z-index: 8;
    transform: translateY(-10px);
    height: 80vh;
    justify-content: end;
    padding-bottom: 50%;
}
@media(max-width: 950px){
    aside{
        display: none;
    }
}