.team-members{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-start;
}
.name-social{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
}
.roles{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.roles .koho{
    color: var(--light-2);
    font-size: 1.2rem;
}
@media(max-width: 950px){
    .team-members{
        flex-direction: column;
    }
    .name-social{
        display: flex;
        gap: 5px;
        font-size: 1.3rem;
        text-align: left;
    }
    .roles{
        text-align: left;
    }
    .roles .koho{
        color: var(--light-2);
        font-size: 1.2rem;
    }
    .roles .rozha{
        display: none;
    }
}